.footer {
  margin-top: $margin-primary;
  border-radius: 0px 0px 20px 20px;
  border: $line-secondary $color-text-primary solid;
}
.footer .footer-text {
  margin-top: $margin-l-1;
  margin-bottom: $margin-primary;
}
